<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">

</head>
<body>
    <h1>Resumen fundation</h1>
    <div class="grid-x" style="border: 1px solid green;">
        <h1 class="cell large-3" style="border: 1px solid red;">elemento1</h1>
        <h1 class="cell large-3" style="border: 1px solid red;">elemento2</h1>
        <h1 class="cell large-3" style="border: 1px solid red;">elemento3</h1>
        <h1 class="cell large-3" style="border: 1px solid red;">elemento4</h1>
    </div>
    <div class="grid-x" style="border: 1px solid green;">
        <div class="cell large-6">
            <h1 class=" cell large 6" style="border: 1px solid red;">elemento1</h1>
        </div>
        <div class="cell large-6">
            <h1 class=" cell large 6" style="border: 1px solid red;">elemento1</h1>
        </div>
        </div>
    </div>
</body>
</html>